{include file="public/head" /}
</head>
<body class="layui-layout-body">
<div class="layui-tab">
    <ul class="layui-tab-title">
        <li class="layui-this">班级列表</li>
        <li>添加专业</li>
    </ul>
    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
            <table id="table" lay-filter="class"></table>
            <script type="text/html" id="operation">
                <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
            </script>
        </div>
        <div class="layui-tab-item">
            <div class="layui-row">
                <div class="layui-col-md4">
                    <form class="layui-form" action="">
                        <div class="layui-form-item">
                            <label class="layui-form-label">*所属专业</label>
                            <div class="layui-input-block">
                                <div class="layui-input-inline">
                                    <select name="major_id" lay-verify="required" lay-search="">
                                        <option value="">请选择或搜索专业</option>
                                        {volist name="majorList" id="vo"}
                                            <option value="{$vo.id}">{$vo.name}</option>
                                        {/volist}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">*班级名称</label>
                            <div class="layui-input-block">
                                <input type="text" name="name" lay-verify="required" autocomplete="off"
                                       class="layui-input" style="width: 50%">
                            </div>
                        </div>
                        <div class="layui-form-item" style="margin-left: 30%">
                            <a class="layui-btn" lay-submit="" lay-filter="submit">提交</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<script>
    layui.use('element', function(){});
    //表格加载
    layui.use('table', function(){
        var table = layui.table;
        table.render({
            elem: '#table'
            ,height: 450
            ,url: '/admin/Classes/getList'
            ,page: true
            ,cols: [[
                {field: 'id', title: 'ID', width:80, sort: true, fixed: 'left'}
                ,{field: 'major', title: '所属专业'}
                ,{field: 'class', title: '班级'}
                ,{fixed: 'right', title:'操作', toolbar: '#operation', width:150}
            ]]
        });
        //操作按钮监听
        table.on('tool(class)', function(obj){
            var data = obj.data;
            var id = data.id;//操作的记录id
            //console.log(obj);
            if(obj.event === 'del'){
                layer.confirm('确认要删除吗?', function(index){
                    obj.del();//前端删除
                    $.post("{:url('admin/Classes/delete')}",{id:id},function(res){
                        if(res.code==0){
                            layer.msg(res.msg, {time: 2000, icon:5});
                        }else{
                            layer.msg(res.msg, {time: 1500, icon:6});
                        }
                    },"json");
                });
            } else if(obj.event === 'edit'){
                layer.open({
                    type: 2,
                    title: '修改班级',
                    shadeClose: true,
                    shade: 0.8,
                    area: ['38%', '45%'],
                    content: '/admin/Classes/edit?id='+id
                });
            }
        });
    });
    //表单提交
    layui.use('form', function () {
        var form = layui.form,layer = layui.layer;
        //表单提交
        form.on('submit(submit)', function (data) {
            $.post("{:url('admin/Classes/addPost')}",{data:data.field},function(res){
                if(res.code==0){
                    layer.msg(res.msg, {time: 2000, icon:5});
                }else{
                    layer.msg(res.msg, {time: 1500, icon:6});
                    setTimeout(function () {
                        window.location.href = "{:url('admin/Classes/index')}";
                    },1500)
                }
            },"json");
        });
    });
</script>
</body>
</html>