{include file="public/head" /}
</head>
<body class="layui-layout-body">
<div class="layui-row">
    <div class="layui-col-xs12">
        <ul class="layui-nav" lay-filter="">
            <li class="layui-nav-item">欢迎您,{$name}</li>
            <li class="layui-nav-item" style="float: right">
                <a href="javascript:;">操作</a>
                <dl class="layui-nav-child">
                    <dd><a href="/user/Index/index">借阅中</a></dd>
                    <dd><a href="/user/Index/history">历史借阅</a></dd>
                    <dd><a href="/user/Index/changePassword">修改密码</a></dd>
                    <dd><a href="javascript:;" id="loginOut">注销</a></dd>
                </dl>
            </li>
        </ul>
    </div>
</div>

<div class="layui-layout layui-col-xs12" style="margin-top: 5%">
    <div class="layui-tab">
        <ul class="layui-tab-title">
            <li class="layui-this">借阅历史</li>
        </ul>
    </div>
    <table id="table" lay-filter="table" style="margin-top: 10%"></table>
</div>
<script>
    layui.use(['element','table'], function(){
        var table = layui.table;
        //表格加载
        table.render({
            elem: '#table'
            ,height: 450
            ,url: '/user/index/getBorrowHistory'
            ,page: false
            ,cols: [[
                {field: 'book_name', title: '书名', fixed: 'left'}
                ,{field: 'begin_time', title: '借阅时间'}
                ,{field: 'real_end_time', title: '归还时间'}
            ]],
            id:'table'
        })
    });
    $(function(){
        //注销按钮监听点击事件
        $("#loginOut").on("click",function(){
            $.ajax({
                url:"{:url('user/Login/loginOut')}",
                type:"get",
                success:function (res) {
                    if(res.code==1){
                        layui.use('layer', function(){
                            var layer = layui.layer;
                            layer.msg('注销成功',{time: 1000});
                            setTimeout(function () {
                                window.location.href = '/user/Login/index';
                            },1000);
                        });
                    }
                }
            });
        });
    });
</script>
</body>
</html>